[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.111.0"
pymongo = "==4.7.2"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
uvicorn = "*"

[requires]
python_version = "3.12"
