[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "==4.18.0"
pytz = "==2026.3.post1"
python-dateutil = "==2.9.0.post0"
fastapi = {extras = ["standard"], version = "==0.141.1"}
cffi = "==2.1.1"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
freezegun = "*"
pipenv = "*"

[requires]
python_version = "3.14"
